/local.properties
/.idea/.gitignore
/.idea/.name
/.idea/modules/app/BaseAndroidKotlin.app.iml
/.idea/modules/BaseAndroidKotlin.buildSrc.iml
/.idea/modules/core-android/BaseAndroidKotlin.core-android.iml
/.idea/modules/BaseAndroidKotlin.iml
/.idea/modules/routing/BaseAndroidKotlin.routing.iml
/.idea/modules/BaseAppKotlin.iml
/.idea/caches/build_file_checksums.ser
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.gradle/6.5/javaCompile/classAnalysis.bin
/.idea/compiler.xml
/.gradle/6.5/executionHistory/executionHistory.bin
/.gradle/6.5/executionHistory/executionHistory.lock
/.gradle/6.5/fileContent/fileContent.lock
/.gradle/6.5/fileHashes/fileHashes.bin
/.gradle/6.5/fileHashes/fileHashes.lock
/.gradle/6.5/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/.idea/*
/.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_activity_activity_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_1_1_0.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
/.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_1_1_3_aar.xml
/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_1_1_3.xml
/.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_core_core_1_3_0_aar.xml
/.idea/libraries/Gradle__androidx_core_core_ktx_1_3_0_aar.xml
/.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_exifinterface_exifinterface_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_2_0_rc03.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_3_0_alpha05.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_extensions_2_2_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_2_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_2_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_process_2_2_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_2_0_rc03_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_3_0_alpha05_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_ktx_2_2_0_rc03_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_ktx_2_3_0_alpha05_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_service_2_2_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_3_0_alpha05_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_ktx_2_3_0_alpha05_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_multidex_multidex_2_0_0_aar.xml
/.idea/libraries/Gradle__androidx_multidex_multidex_instrumentation_2_0_0_aar.xml
/.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_room_room_common_2_2_5.xml
/.idea/libraries/Gradle__androidx_room_room_ktx_2_2_5_aar.xml
/.idea/libraries/Gradle__androidx_room_room_runtime_2_2_5_aar.xml
/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_sqlite_sqlite_2_0_1_aar.xml
/.idea/libraries/Gradle__androidx_sqlite_sqlite_framework_2_0_1_aar.xml
/.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_test_core_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_2_0_aar.xml
/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_2_0_aar.xml
/.idea/libraries/Gradle__androidx_test_ext_junit_1_1_1_aar.xml
/.idea/libraries/Gradle__androidx_test_monitor_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_test_runner_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_transition_transition_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
/.idea/libraries/Gradle__BaseAndroidKotlin_buildSrc_buildSrc.xml
/.idea/libraries/Gradle__com_afollestad_material_dialogs_core_3_3_0_aar.xml
/.idea/libraries/Gradle__com_costular_kotlin_utils_0_1_aar.xml
/.idea/libraries/Gradle__com_github_ajalt_timberkt_1_5_1_aar.xml
/.idea/libraries/Gradle__com_github_florent37_applicationprovider_1_0_4_aar.xml
/.idea/libraries/Gradle__com_github_florent37_navigator_1_0_0_aar.xml
/.idea/libraries/Gradle__com_google_android_material_material_1_0_0_aar.xml
/.idea/libraries/Gradle__com_google_android_material_material_1_1_0_aar.xml
/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1.xml
/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_1.xml
/.idea/libraries/Gradle__com_google_code_gson_gson_2_8_5.xml
/.idea/libraries/Gradle__com_google_dagger_dagger_2_28.xml
/.idea/libraries/Gradle__com_google_dagger_dagger_lint_aar_2_28_aar.xml
/.idea/libraries/Gradle__com_google_dagger_hilt_android_2_28_alpha_aar.xml
/.idea/libraries/Gradle__com_jakewharton_butterknife_10_2_0_aar.xml
/.idea/libraries/Gradle__com_jakewharton_butterknife_annotations_10_2_0.xml
/.idea/libraries/Gradle__com_jakewharton_butterknife_runtime_10_2_0_aar.xml
/.idea/libraries/Gradle__com_jakewharton_timber_timber_4_7_0_aar.xml
/.idea/libraries/Gradle__com_squareup_javawriter_2_1_1.xml
/.idea/libraries/Gradle__com_squareup_moshi_moshi_1_9_2.xml
/.idea/libraries/Gradle__com_squareup_moshi_moshi_kotlin_1_9_2.xml
/.idea/libraries/Gradle__com_squareup_okhttp3_logging_interceptor_4_8_0.xml
/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_10_0.xml
/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_4_8_0.xml
/.idea/libraries/Gradle__com_squareup_okio_okio_1_14_0.xml
/.idea/libraries/Gradle__com_squareup_okio_okio_2_2_2.xml
/.idea/libraries/Gradle__com_squareup_okio_okio_2_7_0.xml
/.idea/libraries/Gradle__com_squareup_picasso_picasso_2_71828_aar.xml
/.idea/libraries/Gradle__com_squareup_retrofit2_converter_gson_2_9_0.xml
/.idea/libraries/Gradle__com_squareup_retrofit2_retrofit_2_9_0.xml
/.idea/libraries/Gradle__com_xwray_groupie_2_8_0_aar.xml
/.idea/libraries/Gradle__com_xwray_groupie_kotlin_android_extensions_2_8_0_aar.xml
/.idea/libraries/Gradle__io_reactivex_rxjava2_rxandroid_2_1_1_aar.xml
/.idea/libraries/Gradle__io_reactivex_rxjava2_rxjava_2_2_10.xml
/.idea/libraries/Gradle__io_reactivex_rxjava2_rxkotlin_2_4_0.xml
/.idea/libraries/Gradle__javax_annotation_jsr250_api_1_0.xml
/.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
/.idea/libraries/Gradle__junit_junit_4_12.xml
/.idea/libraries/Gradle__net_sf_kxml_kxml2_2_3_0.xml
/.idea/libraries/Gradle__org_greenrobot_eventbus_3_2_0.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
/.idea/libraries/Gradle__org_jetbrains_annotations_13_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_android_extensions_runtime_1_3_72.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_reflect_1_3_50.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_3_72.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_72.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_60.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_71.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jre7_1_1_3_2.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_3_0.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_3_4.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_3_7.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_1_3_3.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_1_3_4.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_1_3_7.xml
/.idea/libraries/Gradle__org_reactivestreams_reactive_streams_1_0_2.xml
/.gradle/6.5/javaCompile/jarAnalysis.bin
/.idea/jarRepositories.xml
/.gradle/6.5/javaCompile/javaCompile.lock
/.gradle/6.5/fileChanges/last-build.bin
/.idea/misc.xml
/.idea/modules.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/6.5/fileHashes/resourceHashesCache.bin
/.idea/sonarIssues.xml
/.gradle/6.5/javaCompile/taskHistory.bin
/.idea/vcs.xml
/.idea/sonarlint/issuestore/7/b/7bea5ec2265b3d2b9bc0591e3624a2ac99a6a2ee
/.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
/.idea/sonarlint/issuestore/index.pb
/.gradle/checksums/md5-checksums.bin
/.gradle/checksums/sha1-checksums.bin
.gradle/6.5/.DS_Store
.idea/modules/.DS_Store
.DS_Store
app/.DS_Store
app/src/.DS_Store
buildSrc/.gradle/.DS_Store
/buildSrc/.gradle/6.5/executionHistory/executionHistory.lock
